{% extends 'gotsv2/base.html' %}


{% block aboutpage %}

<div align="center">
  About the Game of Thrones Web Scraping Demo App:
</div>
  <div align="center">
    <h1> How It Works</h1>
  </div>
  <div class="container">
  <ul>A list of all character names is scraped from Wikipedia using the BeautifulSoup packge for Python 3:
    <a href="https://en.wikipedia.org/wiki/List_of_A_Song_of_Ice_and_Fire_characters">List of A Song of Ice and Fire
      Characters</a></ul>
  <ul>My script saves the list of names to the database and uses them to generate a list of URLs for individual
    character pages, eg.
  <a href="https://en.wikipedia.org/wiki/Ned_Stark">en.wikipedia.org/wiki/Ned_Stark</a> </ul>
  <ul>If a character doesn't have their own character page they are filtered out at this stage, because it's not certain
 what information is available about them. However, if they were to get their own character page later on, the new page
    would be picked up when the gotscrape database updates.</ul>
  <ul>Further web scraping of the individual character pages returns information about the characters' genders and titles.</ul>
  <ul>Then I used Django and Charts.js to display this data graphically.</ul>
  <ul>Much more information about each character could be scraped in the same way from the 'infobox' class div on the
    character pages,
    as Wikipedia uses standardised formatting, but I just wanted to focus on a couple of types of information in order
    to demonstrate web scraping.</ul>
  </div>

{% endblock %}
