{% extends "gotsv2/base.html" %}

{% block navbartext %}

Gender split of all main GoT characters

{% endblock %}

{% block gendergraph %}
<div class="container-fluid">
<div class="d-flex flex-row-reverse">
    <div class="p-2">
      <a class="btn btn-outline-dark rounded-right" href="/gotsv2/graph/" role="button">Return to Graph Page</a>
    </div>
</div>
  <div class="row">
      <canvas id="genderGraph" width="300" height="150"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" type="text/javascript"></script>
<script type="text/javascript">
    var ctx = document.getElementById("genderGraph");
    var data = {
        datasets: [{
            data: {{ percentages }},
            backgroundColor: [
                '#ef4810',
                '#68b8ff'
            ]
        }],

        // These labels appear in the legend and in the tooltips when hovering different arcs
        labels: [
            'Women',
            'Men'
        ],

    };
    var myPieChart = new Chart(ctx, {
        type: 'pie',
        data: data
    });
</script>

{% endblock %}


