{% extends "gotsv2/base.html" %}

{% block navbartext %}
  Please select from one of the two graphs below
{% endblock %}

{% block graphchoice %}

<div class="container">
  <div class="d-flex justify-content-center">
    <div class="p-5">
    <a class="btn btn-outline-dark rounded-right" href="/gotsv2/gender-graph/" role="button">Gender Split Graph</a>
    </div>
      <div class="p-5">
      <a class="btn btn-outline-dark rounded-right" href="/gotsv2/title-graph/" role="button">Title Graph</a>
    </div>
  </div>
</div>
{% endblock %}

