{% extends "gotsv2/base.html" %}

{% block navbartext %}

Game of Thrones characters by number of official titles

{% endblock %}

{% block titlegraph %}
<div class="container-fluid">
<div class="d-flex flex-row-reverse">
    <div class="p-2">
      <a class="btn btn-outline-dark rounded-right" href="/gotsv2/graph/" role="button">Return to Graph Page</a>
    </div>
</div>
  <div class="row">
      <canvas id="titlesGraph" width="300" height="150"></canvas>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js" type="text/javascript"></script>
  <script type="text/javascript">
  new Chart(document.getElementById("titlesGraph"), {
    type: 'horizontalBar',
    data: {
      labels: {{ names|safe }},
      datasets: [
        {
          label: "Titles",
          backgroundColor: {{ random_colours|safe }},
          data: {{ title_numbers }}
        }
      ]
    },
    options: {
      scales: {
        xAxes: [{
            ticks: {
                beginAtZero: true
            }
        }]
    },
      legend: { display: false },
      title: {
        display: true,
        text: 'Games of Thrones Characters by Number of Titles'
      }
    }
});
</script>


{% endblock %}

