<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Chelsey Jacobs Homepage</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<style>
body {
    background-color: lightblue;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    color: orangered;
}

nav {
     background-color: #aeebe0;
  }


.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #aeebe0;
}

</style>

<body>


<div> Hi! Welcome to my site, which is currently under construction. Why not check out a couple of my projects below?
<br>
    You can find my Github <a href = "https://www.github.com/cjacobs27">here</a>.
</div>

<div>
  <a href="gotsv2">Game of Thrones Web Scraping Demo</a>
</div>

<div>
  <a href="../../makesandwich">Sandwich Making Simulator</a>
</div>

</body>
</html>
